<div class="ui form">
  <div class="field">
    <label>Date</label>
    <div class="ui left icon input">
      <i class="calendar icon"></i>
      <input
        suiDatepicker
        [(ngModel)]="date"
        [pickerMode]="mode"
        [pickerFirstDayOfWeek]="firstDayOfWeek"
        [pickerUseNativeOnMobile]="false"
      />
    </div>
  </div>
  <div class="field">
    <label>Datepicker Mode</label>
    <sui-select
      class="selection"
      [(ngModel)]="mode"
      [options]="datepickerModes"
      #modes
    >
      <sui-select-option
        *ngFor="let m of modes.availableOptions"
        [value]="m"
      ></sui-select-option>
    </sui-select>
  </div>
  <div class="field">
    <label>First Day of the Week</label>
    <input type="number" [(ngModel)]="firstDayOfWeek" min="0" max="6" />
  </div>
  <p>Selected Date: {{ date }}</p>
</div>
